
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 216 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 216 100% 50%;
    --radius: 0.5rem;

    --chart-1: 216 100% 50%;
    --chart-2: 226 100% 50%;
    --chart-3: 236 100% 50%;
    --chart-4: 246 100% 50%;
    --chart-5: 256 100% 50%;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-sans: 'ui-sans-serif', 'system-ui', sans-serif;
  }
 
  * {
    @apply border-border;
  }

  body {
    font-family: var(--font-montserrat);
    @apply font-sans antialiased bg-background text-foreground;
  }

   /* Make headings slightly bolder */
   h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  /* Optional: Create a utility class for secondary text */
  .font-secondary {
    font-family: var(--font-sans);
  }

}
